.iconosskills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
   /*  display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    list-style: none;
    margin: 0;
    padding: 0;
}


.tituloskills {
  margin-top: 70px;
}

/* 
#skills h1{
margin-top: 30px;
}
 */
#skills p{
  margin:  30px;
  }

@media screen and (max-width: 768px) {
  .iconosskills {
    grid-template-columns: 1fr;
  }

 .h1skills{
margin-top: 200px;

 }
 

 .imgfondo {
    margin-top: 50px;
  }

  #skills h1{
    margin-top: 70px;
  } 
}


.iconosskills li {

    max-width: 289px;
    margin: 0px auto;
    /* border: 2px solid #33cccc; */
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    /* width: 45%;
    margin-bottom: 20px; */
}

.iconosskills img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 100px;
    margin-top: 20px;
}

.iconosskills h1 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.iconosskills p {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}

.imgfondo {
  width: 100%; /* ajusta el ancho de la imagen */
  height: 300px; /* ajusta la altura de la imagen */
  object-fit: cover;
  object-position: center;
  /* border-top: 10px solid #33cccc; agrega una línea azul en la parte inferior */
  border-bottom: 5px solid #33cccc; /* agrega una línea azul en la parte inferior */
  margin-top: 50px;
  margin-bottom: 50px;
}


ul.titulacion{
  list-style: none;
}

ul.otros {
  list-style: none;
}

@media screen and (max-width: 768px) {
ul.otros {
  list-style: none;
}
}
.titulacion h1 {
color: #33cccc;

}

